<included>
    <property name="LOG_HOME" value="./log"/>
    <!-- ELASTIC FILE CONFIGURATION -->
    <conversionRule conversionWord="expSplit"
                    converterClass="com.industry.b121.logbackapi.ExceptionConverter"/>
    <property name="replacedLog"
              value="%replace(%replace(%msg){'&quot;','\&#x0060;'}){'[\r\n]+','&#x00A0;'}%replace(%replace(%expSplit){'&quot;','\&#x0060;'}){'[\r\n]+','&#x00A0;'}%nopex"/>
    <property name="DEFAULT_ELASTIC_PATTERN"
              value="{&quot;timestamp&quot;: &quot;%d{dd/MM/yyyy'T'HH:mm:ss.SSSZZ}&quot;, &quot;version&quot;: &quot;%X{version}&quot;, &quot;node&quot;: &quot;%X{node}&quot;, &quot;guid&quot;: &quot;%X{guid}&quot;, &quot;class&quot;: &quot;%logger{36}&quot;, &quot;thread&quot;: &quot;[%thread]&quot;, &quot;level&quot;: &quot;%level&quot;, &quot;log&quot;: &quot;${replacedLog}&quot;}%n"/>
    <appender name="ELASTIC" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archive/elastic/elastic-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_ELASTIC_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- CONSOLE CONFIGURATION -->
    <property name="DEFAULT_STDOUT_PATTERN"
              value="%d{dd/MM/yyyy'T'HH:mm:ss.SSSZZ} [%thread] %highlight(%-5level) %yellow(class:%X{status}) %cyan(%logger{36}) - %msg%n%ex"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_STDOUT_PATTERN}</pattern>
        </encoder>
    </appender>
</included>
